/* 
  Table of Contents
    1. variables
    2. global styles
    3. accessibility
    4. header
      4.1 main nav
    5. main content
    6. footer
      6.1 secondary nav
    7. media queries
      7.1 responsiveness
      7.2 reduced motion
*/

/* ========== 1. variables ========== */
:root {
  /* text */
  --text-black-high: rgba(0, 0, 0, 0.87);
  --text-black-med: rgba(0, 0, 0, 0.6);
  --text-black-low: rgba(0, 0, 0, 0.38);
  --text-white-high: rgba(255, 255, 255, 0.87);
  --text-white-med: rgba(255, 255, 255, 0.6);
  --text-white-low: rgba(255, 255, 255, 0.38);
  /* misc */
  --active: 0.87;
  --inactive: 0.6;
  --disabled: 0.38;
}

:root[theme='dark'] {
  /* brand colors */
  --color-primary: ; /* 200 tonal range */
  --color-primary-var: ; /* 500 tonal range */
  --color-secondary: ; /* 50-200 tonal range */
  --color-secondary-var: ; /* 50-200 tonal range */
  /* backgrounds */
  --background-base: rgb(18, 18, 18);
  /* elevation refs */
  --elevation-00dp: rgb(18, 18, 18); /* text btn, top app bar (rest), */
  --elevation-01dp: rgb(30, 30, 30); /* searchbar (rest), card (rest), switch */
  --elevation-02dp: rgb(33, 33, 33); /* btn (resting) */
  --elevation-03dp: rgb(37, 37, 37); /* refresh indicator search bar */
  --elevation-04dp: rgb(39, 39, 39); /* top app bar (scrolled/resting) */
  --elevation-06dp: rgb(44, 44, 44); /* floating action btn snackbar */
  --elevation-08dp: rgb(
    46,
    46,
    46
  ); /* bottom/side sheet, btm nav/app bar, menu/submenu, card (picked up), btn (pressed) */
  --elevation-12dp: rgb(51, 51, 51); /* floating action btn (pressed) */
  --elevation-16dp: rgb(54, 54, 54); /* modal bottom/side, nav drawer */
  --elevation-24dp: rgb(56, 56, 56); /* dialogue */
  /* text */
  --text-primary: rgb(255, 255, 255, 0.87);
  /* borders */
  --border-primary: rgba(255, 255, 255, 0.87);
  --focus-border: 2px solid rgba(255, 255, 255, 0.87);
  /* images */
  --theme-toggle-icon: url('../assets/images/icons/dark_mode-white.svg');
  --sound-on-icon: url('../assets/images/icons/volume_up-white.svg');
  --sound-off-icon: url('../assets/images/icons/volume_mute-white.svg');
  /* misc */
  --error: rgb(207, 102, 121);
  --warning: rgb(255, 245, 157);
  --success: rgb(165, 214, 167);
  --info: rgb(144, 202, 249);
}

:root[theme='light'] {
  /* brand colors */
  --color-primary: ; /* 500 tonal range */
  --color-primary-var: ; /* +/- 200 of primary */
  --color-secondary: ; /* 500 tonal range */
  --color-secondary-var: ; /* +/- 200 of primary */
  /* backgrounds */
  --background-base: rgb(240, 240, 240);
  /* text */
  --text-primary: rgba(0, 0, 0, 0.87);
  /* borders */
  --border-primary: rgba(0, 0, 0, 0.87);
  --focus-border: 2px dotted rgba(0, 0, 0, 0.87);
  /* images */
  --theme-toggle-icon: url('../assets/images/icons/light_mode-black.svg');
  --sound-on-icon: url('../assets/images/icons/volume_up-black.svg');
  --sound-off-icon: url('../assets/images/icons/volume_mute-black.svg');
  /* misc */
  --error: rgb(176, 0, 32);
  --warning: rgb(255, 235, 59);
  --success: rgb(76, 175, 80);
  --info: rgb(33, 150, 243);
}

/* ========== 2. global styles ========== */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background-base);
}

a {
  text-decoration: none;
}

/* ========== 3. accessibility ========== */
#accessibility-container {
  position: absolute;
  width: 100%;
  top: -8.25rem;
  background-color: var(--background-base);
  transition: top 0.5s ease-in-out;
  overflow: hidden;
}

#accessibility-container:focus-within,
#accessibility-container:hover {
  top: 0;
}

#accessibility-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 8.25rem;
  padding: 2px 10px;
  /* background-color: var(--background-base); */
}

#accessibility-contents > * {
  margin: 10px 5px;
}

#skip-link {
  text-decoration: none;
}

#theme-switch {
  width: 2rem;
  height: 2.75rem;
  border-radius: 10px;
  /* background-color: var(--background-base); */
  background: var(--theme-toggle-icon) no-repeat;
  background-size: contain;
  border: 0.15rem solid var(--border-primary);
  opacity: 0.8;
}

#animation-switch {
  width: 7.5rem;
  height: 2.75rem;
  border-radius: 25px;
  /* background-color: var(--background-base); */
  border: 0.15rem solid var(--border-primary);
  opacity: 0.8;
  text-align: center;
  line-height: 1.2;
}

#sound-switch {
  width: 2rem;
  height: 2rem;
  /* background-color: var(--background-base); */
  background-image: var(--sound-on-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

#theme-switch:hover,
#animation-switch:hover,
#sound-switch:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#accessibility-label {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 10px;
  /* background: var(--background-base); */
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  font-weight: bold;
}

#accessibility-label:hover {
  cursor: default;
}

.label-arrow-container {
  display: inline-block;
  margin: 5px 0 0 0.8rem;
}

.label-arrow {
  display: inline-block;
  width: 0.7rem;
  height: 0.2rem;
  background-color: #333;
  margin: 6px -0.3rem;
}

.label-arrow-left {
  transform: rotate(-45deg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.label-arrow-right {
  transform: rotate(45deg);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#accessibility-container:focus-within .label-arrow-left,
#accessibility-container:hover .label-arrow-left {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(45deg);
}

#accessibility-container:focus-within .label-arrow-right,
#accessibility-container:hover .label-arrow-right {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(-45deg);
}

/* ========== 4. header ========== */

/* ========== 4.1 main nav ========== */
#upper-nav {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 2.25rem;
  padding: 0 10px;
  background: rgb(79, 170, 197);
}

/* ========== 5. main content ========== */
#main {
  height: 100vh;
  color: white;
}

.page-container {
  text-align: left;
  background: rgb(36, 126, 0);
  color: rgb(252, 252, 252);
  width: 100%;
  height: 100vh;
}

/* ========== 6. footer ========== */

/* ========== 6.1 secondary nav ========== */
#lower-nav {
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: rgb(4, 0, 255);
}

/* ========== 7. media queries ========== */
/* ========== 7.1 responsiveness ========== */
@media only screen and (min-width: 430px) {
  #accessibility-container {
    top: -3.75rem;
  }

  #accessibility-contents {
    justify-content: space-around;
    height: 3.75rem;
  }

  #accessibility-contents > * {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  #accessibility-contents {
    justify-content: flex-start;
  }

  #accessibility-contents > * {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* ========== 7.2 reduced motion ========== */
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: unset !important;
  }

  .animated {
    transition: none !important;
  }
}
